<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>get foods</title>
</head>
<body>
    {% for item in foods_obj %}
        {{ item.id }} {{ item.name }}  <input type="text" id="price" value="{{ item.price }}">
        <input type="button" onclick="editFoods('{{ item.id }}');" value="编辑">
        <input type="button" onclick="deleteFoods('{{ item.id }}');" value="删除">
        <br>
    {% endfor %}

    <script src = "/static/js/jquery-1.12.4.min.js"></script>
    <script>
        function editFoods(arg) {
            var price = $('#price').val();

            var id1 = arg;

            console.log(price, id1);

            $.ajax({
                url:"edit_foods.html",
                type:"GET",
                data:{'price':price, 'id':id1},
                success:function (arg) {
                    console.log(arg);
                    window.location.reload()
                }
            })
        }

        function deleteFoods(arg) {
            var id1 = arg;
            var msg = "你确定要删除：" + id1;
            alert(msg);
            $.ajax({
                url:"delete_foods.html",
                type:"GET",
                data:{'id':id1},
                success:function (arg) {
                    if (arg == "error") {
                        alert(arg);
                    }
                    console.log(arg);
                    window.location.reload();
                }
            })
        }
    </script>
</body>
</html>